{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %} Welcome to My Note Blog {% endblock %}</h1>
  {% for post in posts %}
    <div class="card">
      <div class="card-body">
        <p>{{ post['content'] }}</p>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('post', post_id=post['post_id']) }}">
          <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['post_id']) }}">
          <span class="badge badge-warning">Edit</span>
        </a>
      </div>
      
    </div>
    <hr>
  {% endfor %}
{% endblock %}