{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="thread-sidebar col-3 col-md-2">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="#" class="nav-link active">{% block title %} {{ active_post['title'] }} {% endblock %}</a>
          {% for post in posts %}
            <a href="{{ url_for('post', post_id=post['post_id']) }}" class="nav-link">{{ post['title'] }}</a>
          {% endfor %}
        </li>
      </ul>
    </div>
    <div class="thread-content col-9 col-md-10">
      <p class="{{ active_post['content_type'] }} content">{{ active_post['content'] }}</p>
      {% if active_post['content_type'] == "note" %}
      <span class="d-flex align-self-end time-stamp">{{ active_post['created'] }}</span>
      {% else %}
      <span class="time-stamp">{{ active_post['created'] }}</span>
      {% endif %}
    </div>
  </div>
{% endblock %}